@model ResponseModel<ProjectSiteMaterial>

@{
	Layout = null;

	bool IsVendor = Common.Get_Session_Int(SessionKey.KEY_IS_VENDOR) == 1;
	bool IsCustomer = Common.Get_Session_Int(SessionKey.KEY_IS_CUSTOMER) == 1;
	bool IsEmployee = Common.Get_Session_Int(SessionKey.KEY_IS_EMPLOYEE) == 1;
}

<div class="col-md-12">

	@if (IsEmployee)
	{
		<form id="formSave" action="@Url.Action("Save_MP","Project", new {  area = "Admin"})" method="post" enctype="multipart/form-data">

			<div class="row no-gutters" id="divProjectSiteDoc" style="display:none">
				<input type="text" class="form-control d-none" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">
				<input type="text" class="form-control d-none" name="ProjectId" value="@(Model.Obj != null && Model.Obj.ProjectId > 0 ? Model.Obj.ProjectId.ToString() : "")">
				<input type="text" class="form-control d-none" name="CustomerId" value="@(Model.Obj != null && Model.Obj.CustomerId > 0 ? Model.Obj.CustomerId.ToString() : "")">

				<div class="row mb-1">
					<label for="MaterialFor" class="col-2 col-form-label text-end">Material For</label>
					<div class="col-6">
						<input type="text" name="MaterialFor" class="form-control" value="@Model.Obj.MaterialFor">
					</div>
				</div>
				<div class="row mb-1">
					<label for="MaterialName" class="col-2 col-form-label text-end">Material Name</label>
					<div class="col-6">
						<input type="text" name="MaterialName" class="form-control" value="@Model.Obj.MaterialName">
					</div>
				</div>
				<div class="row mb-1">
					<label for="MaterialCode" class="col-2 col-form-label text-end">Material Code</label>
					<div class="col-3">
						<input type="text" name="MaterialCode" class="form-control" value="@Model.Obj.MaterialCode">
					</div>
					<label for="MaterialBrand" class="col-2 col-form-label text-end">Material Brand</label>
					<div class="col-5">
						<input type="text" name="MaterialBrand" class="form-control" value="@Model.Obj.MaterialBrand">
					</div>
				</div>

				@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "MNGR")
				{
					<div class="row mb-1">
						<label class="col-2 col-form-label text-end">Required Quantity</label>
						<div class="col-3">
							<input type="text" name="Qty" class="form-control isNumberKey_Decimal" value="@Model.Obj.Qty.ToString()" @(Model.Obj != null && Model.Obj.Id > 0 ? "readonly" : "")>
						</div>
					</div>
					<div class="row mb-1">
						<label for="Qty_Order" class="col-2 col-form-label text-end">Order Quantity</label>
						<div class="col-3">
							<input type="text" name="Qty_Order" class="form-control isNumberKey_Decimal" value="@Model.Obj.Qty_Order.ToString()">
						</div>
					</div>
				}
				else
				{
					<div class="row mb-1">
						<label for="Qty" class="col-2 col-form-label text-end">Quantity</label>
						<div class="col-3">
							<input type="text" name="Qty" class="form-control isNumberKey_Decimal" value="@Model.Obj.Qty.ToString()">
						</div>
					</div>

					if (Model.Data5 != null && (string)Model.Data5 == "COORD")
					{
						<div class="row mb-1 divQty_Receive" style="display:@(IsEmployee && (Model.Obj.Status == "S" || Model.Obj.Status == "O") ? "":"none");">
							<label for="Qty_Receive" class="col-2 col-form-label text-end">Receive Quantity</label>
							<div class="col-3">
								<input type="text" name="Qty_Receive" class="form-control isNumberKey_Decimal" value="@Model.Obj.Qty_Receive.ToString()">
							</div>
						</div>
					}
				}

				<div class="row mb-1">
					<label for="UOM" class="col-2 col-form-label text-end">UOM</label>
					<div class="col-3">
						<select name="UOM" class="form-control form-control-sm select2">
							<option value="">-- Select --</option>
							@if (Model.SelectListItems != null)
							{
								var grouped = Model.SelectListItems.GroupBy(i => i.Group).Select(g => new SelectListGroup { Name = g.Key });

								foreach (var group in grouped)
								{
									<optgroup label="@group.Name">
										@foreach (var item in Model.SelectListItems.Where(x => x.Group == group.Name))
										{
											if (Model.Obj.UOM == item.Value)
											{
												<option value="@item.Value" selected>@item.Text</option>
											}
											else
											{
												<option value="@item.Value">@item.Text</option>
											}
										}
									</optgroup>
								}
							}
						</select>
					</div>
				</div>

				@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "MNGR")
				{
					<div class="row mb-1">
						<label class="col-2 col-form-label text-end">Status</label>
						<div class="col-3 col-form-label">

							<div class="form-check form-check-inline">
								<input type="radio" id="Ordered" name="Status" class="form-check-input" value="O" @(Model.Obj != null && (Model.Obj.Status == "S" || Model.Obj.Status == "O") ? "checked" : "")>
								<label class="form-check-label" for="Ordered">
									Ordered
								</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" id="Rejected" name="Status" class="form-check-input" value="R" @(Model.Obj != null && Model.Obj.Status == "R" ? "checked" : "")>
								<label class="form-check-label" for="Rejected">
									Rejected
								</label>
							</div>
						</div>
					</div>
				}

				<div class="row mb-1">
					<label class="col-2 col-form-label text-end">&nbsp;</label>
					<div class="col-9">
						<button type="button" class="btn btn-success btnSubmit">Save</button>
						<button type="button" class="btn btn-secondary" onclick="fnClose_ProjectSiteDoc()">Close</button>
					</div>
				</div>
			</div>

		</form>

		<div class="d-flex align-items-start justify-content-between">
			<div class="d-flex justify-content-end"> &nbsp; </div>
			<div class="d-flex justify-content-end">
				<button type="button" class="btn btn-primary btn-sm btn-add" onclick="fnAddEdit_ProjectSiteMP(0)"> Add new record </button>
			</div>
		</div>
	}

	<div class="table-responsive-sm mt-3" id="divProjectSiteMPList">
		<table class="table table-bordered table-centered mb-0">
			<thead>
				<tr>
					<th>Material For</th>
					<th>Material Code</th>
					<th>Material Name</th>
					<th>Material Brand</th>
					@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "COORD")
					{
						<th width="10%">Qty / Received</th>
					}
					else
					{
						<th width="10%">Qty</th>
					}
					@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "MNGR")
					{
						<th width="20%">Actual Order Qty </th>
					}
					<th width="5%">Status</th>
					<th width="10%">Status Date</th>

					@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "MNGR")
					{
						<th class="text-center" width="10%">Action</th>
					}
				</tr>
			</thead>
			<tbody>
				@if (Model.ObjList != null)
				{
					foreach (var item in Model.ObjList)
					{
						<tr>
							<td>@item.MaterialFor</td>
							<td>@item.MaterialCode</td>
							<td>@item.MaterialName</td>
							<td>@item.MaterialBrand</td>
							@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "COORD" && (item.Qty_Receive ?? -1) > -1)
							{
								<td>@item.Qty.ToString() &nbsp; @item.UOM_Text &nbsp; / &nbsp; @item.Qty_Receive.ToString() &nbsp; @item.UOM_Text</td>
							}
							else if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "COORD")
							{
								<td>@item.Qty.ToString() &nbsp; @item.UOM_Text &nbsp;</td>
							}
							else
							{
								<td>@item.Qty.ToString() &nbsp; @item.UOM_Text</td>
							}
							@if (IsEmployee && Model.Data5 != null && (string)Model.Data5 == "MNGR")
							{
								<td>
									@if (item.Status == "O")
									{
										<span>@item.Qty_Order.ToString() &nbsp; @item.UOM_Text </span>
									}
								</td>
							}
							<td>@item.Status_Text</td>
							<td>@item.StatusDate_Text</td>

							@if (IsEmployee)
							{
								<td class="text-center">
									@* @if (Common.IsAdmin() && Model.IsUpdate == true) *@
									@if (item.Status == "S")
									{
										<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
												onclick="fnAddEdit_ProjectSiteMP(@item.Id);">
											<i class="ri-pencil-fill"></i>
										</button>
									}
									@* @if (Common.IsAdmin() && item.IsDeleted == false && Model.IsDelete == true) *@
									@if (item.Status == "S")
									{
										<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
												onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed_MP","Project", new {  area = "Admin" })?Id=@item.Id');">
											<i class="ri-delete-bin-2-line"></i>
										</button>
									}

									@if (IsEmployee && (item.Status == "S" || item.Status == "O") && Model.Data5 != null && (string)Model.Data5 == "MNGR")
									{
										<button type="button" class="btn btn-info btn-sm btn-flat" style="background-color: #f15a07 !important;color: white !important;"
												onclick="fnAddEdit_ProjectSiteMP(@item.Id);">
											Order
										</button>
									}
									@if (IsEmployee && (item.Status == "S" || item.Status == "O") && Model.Data5 != null && (string)Model.Data5 == "COORD")
									{
										<button type="button" class="btn btn-info btn-sm btn-flat" style="background-color: #f15a07 !important;color: white !important;"
												onclick="fnAddEdit_ProjectSiteMP(@item.Id);">
											Receive
										</button>
									}
								</td>
							}
						</tr>
					}
				}
			</tbody>
		</table>
	</div>

</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}
