@model ResponseModel<ProjectDailyUpdate>

@{
	Layout = null;
}

<div class="col-md-12">
	<div class="card card-info">
		<form id="formSave" action="@Url.Action("Save_DailyUpdate","Project", new {  area = "Admin"})" method="post" enctype="multipart/form-data">

			<div class="card-body form-horizontal">

				@if (Model.Data5 != null && !(bool)Model.Data5)
				{
					<input type="text" class="form-control d-none" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">
					<input type="text" class="form-control d-none" name="ProjectId" value="@(Model.Obj != null && Model.Obj.ProjectId > 0 ? Model.Obj.ProjectId.ToString() : "")">

					<div class="row no-gutters mb-1">
						<div class="col-sm-12">
							<div class="form-group row d-flex align-items-center">
								<label class="col-sm-2 col-form-label text-end">Select Date</label>
								<div class="col-sm-3">
									<input type="date" name="Date_Text" class="form-control form-control-sm" value="@(Model.Obj.Date?.ToString("yyyy-MM-dd"))">
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters mb-1">
						<div class="col-sm-12">
							<div class="form-group row d-flex align-items-center">
								<label for="Name" class="col-sm-2 col-form-label text-end">Note(s)</label>
								<div class="col-sm-8">
									<textarea rows="5" class="form-control" id="Notes" name="Notes" autocomplete="off">@Model.Obj.Notes</textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters mb-1">
						<div class="col-sm-12">
							<div class="form-group row d-flex align-items-center">
								<label for="Name" class="col-sm-2 col-form-label text-end">Upload Image(s)</label>
								<div class="col-sm-8">
									<fieldset class="upload_dropZone text-center mb-3 p-4 border border-secondary rounded" style="position:relative;">
										<svg class="upload_svg" width="60" height="60" aria-hidden="true">
											<use href="#icon-imageUpload"></use>
										</svg>
										<p class="small my-2">
											Drag &amp; Drop background image(s) inside dashed region<br><i>or</i>
										</p>

										<input id="upload_image_background" data-post-name="image_background" data-post-url="https://someplace.com/image/uploads/backgrounds/"
											   class="position-absolute invisible" type="file" multiple accept="image/jpeg, image/png, image/svg+xml" />

										<label class="btn btn-secondary mb-3" for="upload_image_background">Choose file(s)</label>

										<div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>
									</fieldset>
								</div>
							</div>
						</div>

					</div>

				}
				else if (Model.Data5 != null && (bool)Model.Data5)
				{
					<div class="row no-gutters mt-2">
						<div class="col-sm-12">
							<div class="x_panel" style="height: auto;">
								<div class="x_content">
									@if (Model.Obj != null && !string.IsNullOrEmpty(Model.Obj.FilePath))
									{
										<div class="row">
											@{
												var listFilePath = Model.Obj.FilePath.Split(',');

												foreach (var filePath in listFilePath)
												{
													<div class="col-md-3">
														<div class="thumbnail">
															<div class="image view view-first">
																<img style="width: 100%; display: block;" src="@(Url.Content("~" + filePath))" alt="image">
																@*<div class="mask">
												<p>Your Text</p>
												<div class="tools tools-bottom">
												<a href="#"><i class="fa fa-link"></i></a>
												<a href="#"><i class="fa fa-pencil"></i></a>
												<a href="#"><i class="fa fa-times"></i></a>
												</div>
												</div>*@
															</div>
															@*<div class="caption">
											<p>Snow and Ice Incoming for the South</p>
											</div>*@
														</div>
													</div>
												}
											}
										</div>
									}
									else
									{
										<div class="alert alert-danger alert-dismissible " role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<strong>No!</strong> Any image(s) found.
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				}
			</div>

			<div class="card-footer">
				@if (Model.Data5 != null && !(bool)Model.Data5)
				{
					<div class="row no-gutters mb-1">
						<div class="col-sm-2">&nbsp;</div>
						<div class="col-sm-6 text-left">
							<button type="submit" class="btn btn-success btnSubmit">Save</button>
							<a href="@Url.Action("DailyUpdate","Project", new { area = "Admin" })" class="btn btn-danger">Cancel</a>
						</div>
					</div>
				}
			</div>

		</form>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}
